-- CreateEnum
CREATE TYPE "PosCommandType" AS ENUM ('UPDATE_PRICE', 'UPDATE_PRODUCT_NAME', 'UPDATE_STOCK', 'APPLY_PROMOTION', 'REVERT_PROMOTION', 'WRITE_INVOICE', 'CREATE_PENDING_STOCK_INTAKE', 'CREATE_OR_LINK_SUPPLIER', 'DELETE_SUPPLIER');

-- CreateEnum
CREATE TYPE "PosCommandStatus" AS ENUM ('PENDING', 'PROCESSING', 'COMPLETED', 'FAILED');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "adminSecurityKeyHash" TEXT,
    "driverSecurityKeyHash" TEXT,
    "cashierSecurityKeyHash" TEXT,
    "role" TEXT NOT NULL DEFAULT 'user',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "emailVerified" BOOLEAN NOT NULL DEFAULT false,
    "failedLoginAttempts" INTEGER NOT NULL DEFAULT 0,
    "lockedUntil" TIMESTAMP(3),
    "lastLoginAt" TIMESTAMP(3),
    "verificationCode" TEXT,
    "verificationCodeExpiry" TIMESTAMP(3),
    "passwordResetCode" TEXT,
    "passwordResetCodeExpiry" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "refresh_tokens" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "token_hash" TEXT NOT NULL,
    "expires_at" TIMESTAMP(3) NOT NULL,
    "revoked_at" TIMESTAMP(3),
    "ip_address" TEXT,
    "user_agent" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "last_used_at" TIMESTAMP(3),

    CONSTRAINT "refresh_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "security_audit_logs" (
    "id" TEXT NOT NULL,
    "actor_user_id" TEXT,
    "action" TEXT NOT NULL,
    "resource_type" TEXT NOT NULL,
    "resource_id" TEXT,
    "status" TEXT NOT NULL DEFAULT 'SUCCESS',
    "ip_address" TEXT,
    "user_agent" TEXT,
    "metadata" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "security_audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_permissions" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "permission_key" TEXT NOT NULL,
    "allowed" BOOLEAN NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_permissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "permission_audit_logs" (
    "id" TEXT NOT NULL,
    "actor_user_id" TEXT,
    "target_user_id" TEXT NOT NULL,
    "permission_key" TEXT NOT NULL,
    "previous_value" BOOLEAN,
    "new_value" BOOLEAN,
    "reason" TEXT,
    "metadata" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "permission_audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Product" (
    "id" SERIAL NOT NULL,
    "branch_code" TEXT NOT NULL DEFAULT 'BLANTYRE',
    "sourceCode" TEXT,
    "location_code" TEXT,
    "name" TEXT NOT NULL,
    "price" DOUBLE PRECISION NOT NULL,
    "originalPrice" DOUBLE PRECISION,
    "discountPrice" DOUBLE PRECISION,
    "isOnSale" BOOLEAN NOT NULL DEFAULT false,
    "stock" INTEGER NOT NULL DEFAULT 0,
    "category" TEXT,
    "description" TEXT DEFAULT '',
    "barcode" TEXT,
    "expiryDate" TIMESTAMP(3),
    "expiryBatchCount" INTEGER NOT NULL DEFAULT 0,
    "image" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "hideFromProductsPage" BOOLEAN NOT NULL DEFAULT false,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "overrideActive" BOOLEAN NOT NULL DEFAULT false,
    "overrideStock" INTEGER,
    "low_stock_threshold" INTEGER,
    "overrideReason" TEXT,
    "overrideUpdatedAt" TIMESTAMP(3),
    "overrideUpdatedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Product_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "product_image_mappings" (
    "id" SERIAL NOT NULL,
    "product_code" TEXT NOT NULL,
    "cloudinary_public_id" TEXT NOT NULL,
    "image_url" TEXT NOT NULL,
    "secure_url" TEXT NOT NULL,
    "original_filename" TEXT,
    "is_primary" BOOLEAN NOT NULL DEFAULT true,
    "display_order" INTEGER NOT NULL DEFAULT 0,
    "alt_text" TEXT,
    "uploaded_by" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "product_image_mappings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Cart" (
    "id" SERIAL NOT NULL,
    "userId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Cart_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CartItem" (
    "id" SERIAL NOT NULL,
    "cartId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "quantity" INTEGER NOT NULL,
    "price" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CartItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Order" (
    "id" SERIAL NOT NULL,
    "userId" TEXT NOT NULL,
    "subtotal_amount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "delivery_fee_amount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "final_total_amount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "total" DOUBLE PRECISION NOT NULL,
    "vat_enabled" BOOLEAN NOT NULL DEFAULT true,
    "vat_rate_percent" DOUBLE PRECISION NOT NULL DEFAULT 16.5,
    "vat_amount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "deliveryAddress" TEXT NOT NULL,
    "houseNumber" TEXT NOT NULL,
    "phone" TEXT,
    "district" TEXT,
    "area" TEXT,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "paymentStatus" TEXT NOT NULL DEFAULT 'PENDING',
    "paymentReference" TEXT,
    "notes" TEXT,
    "driverId" TEXT,
    "salesDayId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Order_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DeliveryZone" (
    "id" SERIAL NOT NULL,
    "district" TEXT NOT NULL,
    "area" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "radiusKm" DOUBLE PRECISION,
    "deliveryFee" DECIMAL(10,2),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DeliveryZone_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrderItem" (
    "id" SERIAL NOT NULL,
    "orderId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "quantity" INTEGER NOT NULL,
    "price" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OrderItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Driver" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT,
    "email" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Driver_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SalesDay" (
    "id" SERIAL NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'OPEN',
    "openedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "closedAt" TIMESTAMP(3),
    "totalSales" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "totalOrders" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SalesDay_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupportTicket" (
    "id" SERIAL NOT NULL,
    "subject" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'OPEN',
    "priority" TEXT NOT NULL DEFAULT 'MEDIUM',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "userId" TEXT NOT NULL,

    CONSTRAINT "SupportTicket_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TicketReply" (
    "id" SERIAL NOT NULL,
    "message" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ticketId" INTEGER NOT NULL,
    "senderId" TEXT NOT NULL,

    CONSTRAINT "TicketReply_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TicketAttachment" (
    "id" SERIAL NOT NULL,
    "fileName" TEXT NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "fileSize" INTEGER NOT NULL,
    "mimeType" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "replyId" INTEGER NOT NULL,

    CONSTRAINT "TicketAttachment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TicketReadStatus" (
    "id" SERIAL NOT NULL,
    "ticketId" INTEGER NOT NULL,
    "userId" TEXT NOT NULL,
    "lastRead" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TicketReadStatus_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Promotion" (
    "id" SERIAL NOT NULL,
    "branch_code" TEXT NOT NULL DEFAULT 'BLANTYRE',
    "type" TEXT NOT NULL,
    "enabled" BOOLEAN NOT NULL DEFAULT false,
    "percentage" INTEGER NOT NULL DEFAULT 10,
    "categoryId" TEXT,
    "selectedProductIds" INTEGER[] DEFAULT ARRAY[]::INTEGER[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Promotion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AdminMessage" (
    "id" SERIAL NOT NULL,
    "type" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "read" BOOLEAN NOT NULL DEFAULT false,
    "dedupeKey" TEXT,
    "source_module" TEXT,
    "branch_code" TEXT,
    "entity_type" TEXT,
    "entity_id" TEXT,
    "error_code" TEXT,
    "lifecycle_state" TEXT NOT NULL DEFAULT 'active',
    "first_seen_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "last_seen_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "acknowledged_at" TIMESTAMP(3),
    "resolved_at" TIMESTAMP(3),
    "occurrence_count" INTEGER NOT NULL DEFAULT 1,
    "status_metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AdminMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PendingUser" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "verificationCode" TEXT NOT NULL,
    "verificationCodeExpiry" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PendingUser_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PasswordReset" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "resetCode" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PasswordReset_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PosWriteCommand" (
    "id" TEXT NOT NULL,
    "commandType" "PosCommandType" NOT NULL,
    "status" "PosCommandStatus" NOT NULL DEFAULT 'PENDING',
    "payload" JSONB NOT NULL,
    "source" TEXT NOT NULL,
    "relatedEntityType" TEXT,
    "relatedEntityId" TEXT,
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "pickedAt" TIMESTAMP(3),
    "processedAt" TIMESTAMP(3),
    "retryCount" INTEGER NOT NULL DEFAULT 0,
    "maxRetries" INTEGER NOT NULL DEFAULT 5,
    "nextRetryAt" TIMESTAMP(3),
    "errorMessage" TEXT,
    "resultSummary" JSONB,
    "agentId" TEXT,
    "lockToken" TEXT,

    CONSTRAINT "PosWriteCommand_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SiteSetting" (
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SiteSetting_pkey" PRIMARY KEY ("key")
);

-- CreateTable
CREATE TABLE "PosSyncEvent" (
    "id" TEXT NOT NULL,
    "eventType" TEXT NOT NULL,
    "source" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "level" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "reason" TEXT,
    "suggestion" TEXT,
    "entityType" TEXT,
    "entityId" TEXT,
    "agentId" TEXT,
    "durationMs" INTEGER,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PosSyncEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductExpiryBatch" (
    "id" SERIAL NOT NULL,
    "productCode" TEXT NOT NULL,
    "expiryDate" TIMESTAMP(3) NOT NULL,
    "remainingQty" DOUBLE PRECISION NOT NULL,
    "locationCode" TEXT,
    "batchNo" TEXT,
    "lastSyncedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductExpiryBatch_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "emergency_sales" (
    "id" SERIAL NOT NULL,
    "sale_ref" TEXT NOT NULL,
    "cashier_id" TEXT,
    "cashier_name" TEXT NOT NULL,
    "subtotal" DOUBLE PRECISION NOT NULL,
    "discount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "total" DOUBLE PRECISION NOT NULL,
    "tendered_amount" DOUBLE PRECISION NOT NULL,
    "change_amount" DOUBLE PRECISION NOT NULL,
    "payment_method" TEXT NOT NULL DEFAULT 'CASH',
    "sync_status" TEXT NOT NULL DEFAULT 'pending_pos_sync',
    "pos_invoice_no" TEXT,
    "synced_at" TIMESTAMP(3),
    "last_sync_attempt_at" TIMESTAMP(3),
    "retry_count" INTEGER NOT NULL DEFAULT 0,
    "sync_error" TEXT,
    "cart_snapshot" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "emergency_sales_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "emergency_sale_items" (
    "id" SERIAL NOT NULL,
    "emergency_sale_id" INTEGER NOT NULL,
    "product_id" INTEGER,
    "product_code" TEXT NOT NULL,
    "barcode" TEXT,
    "product_name" TEXT NOT NULL,
    "unit_price" DOUBLE PRECISION NOT NULL,
    "qty" INTEGER NOT NULL,
    "line_total" DOUBLE PRECISION NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "emergency_sale_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "quotations" (
    "id" SERIAL NOT NULL,
    "quotation_ref" TEXT NOT NULL,
    "branch_code" TEXT NOT NULL DEFAULT 'BLANTYRE',
    "location_code" TEXT NOT NULL DEFAULT 'BT',
    "client_name" TEXT NOT NULL,
    "client_email" TEXT,
    "client_phone" TEXT,
    "client_address" TEXT,
    "notes" TEXT,
    "subtotal" DOUBLE PRECISION NOT NULL,
    "discount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "total" DOUBLE PRECISION NOT NULL,
    "valid_until" TIMESTAMP(3),
    "created_by" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "quotations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "quotation_items" (
    "id" SERIAL NOT NULL,
    "quotation_id" INTEGER NOT NULL,
    "product_id" INTEGER,
    "product_name" TEXT NOT NULL,
    "description" TEXT,
    "qty" INTEGER NOT NULL,
    "unit_price" DOUBLE PRECISION NOT NULL,
    "line_total" DOUBLE PRECISION NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "quotation_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sales_sync_sources" (
    "id" SERIAL NOT NULL,
    "branch_code" TEXT NOT NULL,
    "branch_name" TEXT NOT NULL,
    "location_id" INTEGER,
    "sync_source_code" TEXT NOT NULL,
    "last_seen_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sales_sync_sources_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pos_latest_product_costs" (
    "id" SERIAL NOT NULL,
    "sync_source_id" INTEGER NOT NULL,
    "branch_code" TEXT NOT NULL,
    "branch_name" TEXT NOT NULL,
    "location_id" INTEGER,
    "location_code" TEXT,
    "sync_source_code" TEXT NOT NULL,
    "product_code" TEXT NOT NULL,
    "product_name" TEXT,
    "latest_unit_cost" DOUBLE PRECISION,
    "latest_grn_no" TEXT,
    "latest_grn_reference" TEXT,
    "latest_grn_date" TIMESTAMP(3),
    "stock_detail_id" TEXT,
    "source_updated_at" TIMESTAMP(3),
    "source_synced_at" TIMESTAMP(3),
    "first_received_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "last_received_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "pos_latest_product_costs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sales_invoices" (
    "id" BIGSERIAL NOT NULL,
    "sync_source_id" INTEGER NOT NULL,
    "branch_code" TEXT NOT NULL,
    "branch_name" TEXT NOT NULL,
    "location_id" INTEGER,
    "sync_source_code" TEXT NOT NULL,
    "source_invoice_no" INTEGER NOT NULL,
    "source_invoice_serial_no" INTEGER,
    "source_cash_sale_no" INTEGER,
    "ref_no" TEXT,
    "invoice_date" TIMESTAMP(3),
    "invoice_time" TIMESTAMP(3),
    "customer_code" TEXT,
    "customer_details" TEXT,
    "location_code" TEXT,
    "gross_sale" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "vat_amount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "discount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "net_sale" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "invoice_type" TEXT,
    "till_id" INTEGER,
    "pay_method_1" TEXT,
    "tender_amount_1" DOUBLE PRECISION,
    "chq_no_1" TEXT,
    "pay_method_2" TEXT,
    "tender_amount_2" DOUBLE PRECISION,
    "chq_no_2" TEXT,
    "user_name" TEXT,
    "price_type_code" TEXT,
    "rep_code" TEXT,
    "upload_status" INTEGER,
    "levy_amount" DOUBLE PRECISION,
    "reserved" INTEGER,
    "discount_amount" DOUBLE PRECISION,
    "fiscal_receipt_no" TEXT,
    "bank_code" TEXT,
    "bank_name" TEXT,
    "bank_card_holder" TEXT,
    "bank_card_no" TEXT,
    "bank_card_expiry" TEXT,
    "quote_no" TEXT,
    "source_synced_at" TIMESTAMP(3),
    "first_received_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "last_received_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sales_invoices_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sales_invoice_items" (
    "id" BIGSERIAL NOT NULL,
    "sales_invoice_id" BIGINT NOT NULL,
    "sync_source_code" TEXT NOT NULL,
    "source_inv_detail_id" INTEGER NOT NULL,
    "source_invoice_code" INTEGER,
    "product_code" TEXT,
    "product_name" TEXT,
    "qty" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "price_type_code" TEXT,
    "unit_price" DOUBLE PRECISION,
    "bulk_price" DOUBLE PRECISION,
    "discount" DOUBLE PRECISION,
    "amount" DOUBLE PRECISION,
    "start_serial_no" TEXT,
    "end_serial_no" TEXT,
    "tax_rate" DOUBLE PRECISION,
    "tax_amount" DOUBLE PRECISION,
    "f_price" DOUBLE PRECISION,
    "upload_status" INTEGER,
    "location_code" TEXT,
    "levy_rate" DOUBLE PRECISION,
    "levy_amount" DOUBLE PRECISION,
    "printed" INTEGER,
    "sub_qty" DOUBLE PRECISION,
    "discount_amount" DOUBLE PRECISION,
    "cost_price" DOUBLE PRECISION,
    "grn_date" TIMESTAMP(3),
    "first_received_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "last_received_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sales_invoice_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pos_stock_intakes" (
    "id" SERIAL NOT NULL,
    "sync_source_id" INTEGER NOT NULL,
    "branch_code" TEXT NOT NULL,
    "branch_name" TEXT NOT NULL,
    "location_id" INTEGER,
    "location_code" TEXT,
    "sync_source_code" TEXT NOT NULL,
    "grn_no" TEXT NOT NULL,
    "grn_date" TIMESTAMP(3),
    "grn_observed_at" TIMESTAMP(3),
    "grn_reference" TEXT,
    "grn_user_name" TEXT,
    "supplier_code" TEXT,
    "order_number" TEXT,
    "upload_status" INTEGER,
    "source_updated_at" TIMESTAMP(3),
    "source_synced_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "first_received_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "last_received_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "pos_stock_intakes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pos_stock_intake_items" (
    "id" SERIAL NOT NULL,
    "pos_stock_intake_id" INTEGER NOT NULL,
    "sync_source_code" TEXT NOT NULL,
    "stock_detail_id" TEXT,
    "product_code" TEXT NOT NULL,
    "product_name" TEXT,
    "quantity" DOUBLE PRECISION NOT NULL,
    "unit_cost" DOUBLE PRECISION,
    "line_amount" DOUBLE PRECISION,
    "expiry_date" TIMESTAMP(3),
    "upload_status" INTEGER,
    "source_updated_at" TIMESTAMP(3),
    "source_synced_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "first_received_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "last_received_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "pos_stock_intake_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "suppliers" (
    "id" SERIAL NOT NULL,
    "supplier_code" TEXT,
    "name" TEXT NOT NULL,
    "location_id" INTEGER,
    "contact_person" TEXT,
    "phone" TEXT,
    "email" TEXT,
    "address" TEXT,
    "opening_balance" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'active',
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "suppliers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "supplier_pos_links" (
    "id" SERIAL NOT NULL,
    "supplier_id" INTEGER NOT NULL,
    "branch_code" TEXT NOT NULL,
    "pos_supplier_code" INTEGER,
    "pos_supplier_name" TEXT,
    "sync_status" TEXT NOT NULL DEFAULT 'synced',
    "synced_at" TIMESTAMP(3),
    "sync_error" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "supplier_pos_links_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "supplier_transactions" (
    "id" SERIAL NOT NULL,
    "supplier_id" INTEGER NOT NULL,
    "location_id" INTEGER,
    "reporting_period_id" INTEGER,
    "transaction_date" TIMESTAMP(3) NOT NULL,
    "transaction_type" TEXT NOT NULL,
    "payment_method" TEXT,
    "amount" DOUBLE PRECISION NOT NULL,
    "description" TEXT,
    "reference_no" TEXT,
    "entered_by" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "supplier_transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "supplier_balances" (
    "id" SERIAL NOT NULL,
    "supplier_id" INTEGER NOT NULL,
    "reporting_period_id" INTEGER NOT NULL,
    "total_debt" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "total_paid" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "outstanding_balance" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "supplier_balances_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "expense_categories" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "expense_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "expenses" (
    "id" SERIAL NOT NULL,
    "reporting_period_id" INTEGER,
    "expense_category_id" INTEGER NOT NULL,
    "location_id" INTEGER,
    "expense_date" TIMESTAMP(3) NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "description" TEXT,
    "payment_method" TEXT,
    "reference_no" TEXT,
    "entered_by" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "expenses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "employees" (
    "id" SERIAL NOT NULL,
    "employee_no" TEXT,
    "first_name" TEXT NOT NULL,
    "surname" TEXT NOT NULL,
    "middle_name" TEXT,
    "gender" TEXT,
    "date_of_birth" TIMESTAMP(3),
    "district_of_origin" TEXT,
    "village" TEXT,
    "traditional_authority" TEXT,
    "national_id" TEXT,
    "national_id_expiry_date" TIMESTAMP(3),
    "contact_number" TEXT,
    "date_of_employment" TIMESTAMP(3),
    "position" TEXT,
    "department" TEXT,
    "location_id" INTEGER,
    "employment_type" TEXT,
    "status" TEXT NOT NULL DEFAULT 'active',
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "employees_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "employee_salary_structures" (
    "id" SERIAL NOT NULL,
    "employee_id" INTEGER NOT NULL,
    "agreed_salary_per_month" DOUBLE PRECISION NOT NULL,
    "annual_increment_amount" DOUBLE PRECISION DEFAULT 0,
    "salary_after_increment" DOUBLE PRECISION,
    "currency" TEXT NOT NULL DEFAULT 'MWK',
    "effective_from" TIMESTAMP(3) NOT NULL,
    "effective_to" TIMESTAMP(3),
    "is_current" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "employee_salary_structures_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payroll_periods" (
    "id" SERIAL NOT NULL,
    "reporting_period_id" INTEGER,
    "payroll_mode" TEXT NOT NULL,
    "location_id" INTEGER,
    "payroll_month" INTEGER,
    "payroll_year" INTEGER,
    "payroll_position_in_month" INTEGER,
    "description" TEXT,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "created_by" TEXT,
    "run_started_at" TIMESTAMP(3),
    "finalized_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "payroll_periods_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payroll_entries" (
    "id" SERIAL NOT NULL,
    "payroll_period_id" INTEGER NOT NULL,
    "employee_id" INTEGER NOT NULL,
    "basic_salary" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "increment_amount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "gross_pay" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "total_deductions" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "net_pay" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "days_worked" DOUBLE PRECISION,
    "days_absent" DOUBLE PRECISION,
    "overtime_hours" DOUBLE PRECISION,
    "overtime_normal_hours" DOUBLE PRECISION,
    "overtime_double_hours" DOUBLE PRECISION,
    "overtime_amount" DOUBLE PRECISION DEFAULT 0,
    "overtime_normal_amount" DOUBLE PRECISION DEFAULT 0,
    "overtime_double_amount" DOUBLE PRECISION DEFAULT 0,
    "loan_deduction_amount" DOUBLE PRECISION DEFAULT 0,
    "absence_deduction_amount" DOUBLE PRECISION DEFAULT 0,
    "other_deduction_amount" DOUBLE PRECISION DEFAULT 0,
    "bonus_amount" DOUBLE PRECISION DEFAULT 0,
    "gift_amount" DOUBLE PRECISION DEFAULT 0,
    "leave_pay_amount" DOUBLE PRECISION DEFAULT 0,
    "paye_amount" DOUBLE PRECISION DEFAULT 0,
    "loan_balance_at_payroll" DOUBLE PRECISION DEFAULT 0,
    "accrued_interest_at_payroll" DOUBLE PRECISION DEFAULT 0,
    "net_pay_mid_portion" DOUBLE PRECISION DEFAULT 0,
    "net_pay_end_portion" DOUBLE PRECISION DEFAULT 0,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "payroll_entries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "employee_loans" (
    "id" SERIAL NOT NULL,
    "employee_id" INTEGER NOT NULL,
    "loan_reference" TEXT,
    "principal_amount" DOUBLE PRECISION NOT NULL,
    "balance_amount" DOUBLE PRECISION NOT NULL,
    "interest_rate" DOUBLE PRECISION,
    "accrued_interest" DOUBLE PRECISION DEFAULT 0,
    "loan_granted_month" INTEGER,
    "loan_granted_year" INTEGER,
    "monthly_deduction_amount" DOUBLE PRECISION,
    "repayment_end_month" INTEGER,
    "repayment_end_year" INTEGER,
    "reason" TEXT,
    "start_date" TIMESTAMP(3),
    "end_date" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'active',
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "employee_loans_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "employee_loan_transactions" (
    "id" SERIAL NOT NULL,
    "employee_loan_id" INTEGER NOT NULL,
    "payroll_period_id" INTEGER,
    "transaction_type" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "principal_component" DOUBLE PRECISION,
    "interest_component" DOUBLE PRECISION,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "employee_loan_transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "employee_terminations" (
    "id" SERIAL NOT NULL,
    "employee_id" INTEGER NOT NULL,
    "termination_date" TIMESTAMP(3) NOT NULL,
    "termination_type" TEXT,
    "reason" TEXT,
    "days_worked_in_final_month" DOUBLE PRECISION,
    "half_pay_received" DOUBLE PRECISION,
    "half_pay_due_in_termination_month" DOUBLE PRECISION,
    "amount_paid_in_termination_month" DOUBLE PRECISION,
    "leave_pay_accrued_days" DOUBLE PRECISION,
    "leave_pay_amount" DOUBLE PRECISION,
    "outstanding_loan_obligations" DOUBLE PRECISION,
    "gross_settlement_amount" DOUBLE PRECISION,
    "net_settlement_amount" DOUBLE PRECISION,
    "settlement_amount" DOUBLE PRECISION,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "employee_terminations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "employee_reengagements" (
    "id" SERIAL NOT NULL,
    "employee_id" INTEGER NOT NULL,
    "linked_termination_id" INTEGER,
    "wage_at_retrenchment" DOUBLE PRECISION,
    "previous_wage" DOUBLE PRECISION,
    "reengagement_wage" DOUBLE PRECISION,
    "occupation" TEXT,
    "effective_date" TIMESTAMP(3) NOT NULL,
    "contract_expiry_date" TIMESTAMP(3),
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "employee_reengagements_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payroll_tax_brackets" (
    "id" SERIAL NOT NULL,
    "location_id" INTEGER,
    "effective_from" TIMESTAMP(3) NOT NULL,
    "effective_to" TIMESTAMP(3),
    "min_income" DOUBLE PRECISION NOT NULL,
    "max_income" DOUBLE PRECISION,
    "rate_percent" DOUBLE PRECISION NOT NULL,
    "fixed_tax_amount" DOUBLE PRECISION,
    "description" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "payroll_tax_brackets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payroll_increment_policies" (
    "id" SERIAL NOT NULL,
    "location_id" INTEGER,
    "min_service_months" INTEGER NOT NULL,
    "max_service_months" INTEGER,
    "increment_percent" DOUBLE PRECISION,
    "increment_amount" DOUBLE PRECISION,
    "effective_from" TIMESTAMP(3) NOT NULL,
    "effective_to" TIMESTAMP(3),
    "notes" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "payroll_increment_policies_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "goods_intakes" (
    "id" SERIAL NOT NULL,
    "intake_ref" TEXT NOT NULL,
    "supplier_id" INTEGER,
    "manual_supplier_name" TEXT,
    "supplier_store_ref" TEXT,
    "purchase_date" TIMESTAMP(3) NOT NULL,
    "receipt_reference" TEXT,
    "location_id" INTEGER,
    "branch_code" TEXT,
    "location_code" TEXT,
    "location_name" TEXT,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "overall_notes" TEXT,
    "receipt_total_amount" DOUBLE PRECISION,
    "total_items" INTEGER NOT NULL DEFAULT 0,
    "total_quantity" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "total_cost" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "total_estimated_profit" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "entered_by" TEXT,
    "finalized_at" TIMESTAMP(3),
    "pos_transfer_status" TEXT,
    "pos_transfer_grn" TEXT,
    "pos_transfer_at" TIMESTAMP(3),
    "pos_transfer_location_code" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "goods_intakes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "goods_intake_items" (
    "id" SERIAL NOT NULL,
    "goods_intake_id" INTEGER NOT NULL,
    "line_no" INTEGER NOT NULL,
    "barcode" TEXT,
    "product_id" INTEGER,
    "product_name" TEXT NOT NULL,
    "quantity" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "unit_cost" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "total_cost" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "selling_price" DOUBLE PRECISION,
    "estimated_profit" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "margin_percent" DOUBLE PRECISION,
    "expiry_date" TIMESTAMP(3),
    "batch_ref" TEXT,
    "line_notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "goods_intake_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "purchase_orders" (
    "id" SERIAL NOT NULL,
    "purchase_order_ref" TEXT NOT NULL,
    "supplier_id" INTEGER,
    "supplier_name" TEXT,
    "purchase_date" TIMESTAMP(3) NOT NULL,
    "expected_delivery_date" TIMESTAMP(3),
    "location_id" INTEGER,
    "branch_code" TEXT,
    "location_code" TEXT,
    "location_name" TEXT,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "notes" TEXT,
    "total_items" INTEGER NOT NULL DEFAULT 0,
    "total_quantity" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "total_cost" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "entered_by" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "purchase_orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "purchase_order_items" (
    "id" SERIAL NOT NULL,
    "purchase_order_id" INTEGER NOT NULL,
    "line_no" INTEGER NOT NULL,
    "barcode" TEXT,
    "product_id" INTEGER,
    "product_name" TEXT NOT NULL,
    "quantity" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "shelf_balance" DOUBLE PRECISION,
    "pos_balance" DOUBLE PRECISION,
    "selling_price" DOUBLE PRECISION,
    "unit_cost" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "total_cost" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "expiry_date" TIMESTAMP(3),
    "batch_ref" TEXT,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "purchase_order_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sales_balancing_records" (
    "id" SERIAL NOT NULL,
    "balancing_date" TIMESTAMP(3) NOT NULL,
    "location_id" INTEGER NOT NULL,
    "location_code" TEXT,
    "location_name" TEXT,
    "reference_title" TEXT,
    "cashier_reference" TEXT,
    "shift_reference" TEXT,
    "prepared_by" TEXT,
    "notes" TEXT,
    "expected_system_sales" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "cash_amount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "airtel_money_amount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "tnm_mpamba_amount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "pos_card_amount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "bank_transfer_amount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "emergency_expenses_amount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "other_amount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "total_actual_amount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "difference_amount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "result_status" TEXT NOT NULL DEFAULT 'balanced',
    "status" TEXT NOT NULL DEFAULT 'draft',
    "finalized_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sales_balancing_records_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "refresh_tokens_token_hash_key" ON "refresh_tokens"("token_hash");

-- CreateIndex
CREATE INDEX "refresh_tokens_user_id_expires_at_idx" ON "refresh_tokens"("user_id", "expires_at");

-- CreateIndex
CREATE INDEX "refresh_tokens_revoked_at_idx" ON "refresh_tokens"("revoked_at");

-- CreateIndex
CREATE INDEX "security_audit_logs_actor_user_id_created_at_idx" ON "security_audit_logs"("actor_user_id", "created_at");

-- CreateIndex
CREATE INDEX "security_audit_logs_action_created_at_idx" ON "security_audit_logs"("action", "created_at");

-- CreateIndex
CREATE INDEX "security_audit_logs_resource_type_resource_id_idx" ON "security_audit_logs"("resource_type", "resource_id");

-- CreateIndex
CREATE INDEX "user_permissions_permission_key_idx" ON "user_permissions"("permission_key");

-- CreateIndex
CREATE UNIQUE INDEX "user_permissions_user_id_permission_key_key" ON "user_permissions"("user_id", "permission_key");

-- CreateIndex
CREATE INDEX "permission_audit_logs_target_user_id_created_at_idx" ON "permission_audit_logs"("target_user_id", "created_at");

-- CreateIndex
CREATE INDEX "permission_audit_logs_actor_user_id_created_at_idx" ON "permission_audit_logs"("actor_user_id", "created_at");

-- CreateIndex
CREATE INDEX "Product_branch_code_idx" ON "Product"("branch_code");

-- CreateIndex
CREATE INDEX "Product_enabled_idx" ON "Product"("enabled");

-- CreateIndex
CREATE INDEX "Product_category_idx" ON "Product"("category");

-- CreateIndex
CREATE INDEX "Product_name_idx" ON "Product"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Product_branch_code_location_code_sourceCode_key" ON "Product"("branch_code", "location_code", "sourceCode");

-- CreateIndex
CREATE UNIQUE INDEX "product_image_mappings_product_code_key" ON "product_image_mappings"("product_code");

-- CreateIndex
CREATE INDEX "product_image_mappings_product_code_idx" ON "product_image_mappings"("product_code");

-- CreateIndex
CREATE UNIQUE INDEX "Cart_userId_key" ON "Cart"("userId");

-- CreateIndex
CREATE INDEX "DeliveryZone_district_isActive_idx" ON "DeliveryZone"("district", "isActive");

-- CreateIndex
CREATE UNIQUE INDEX "DeliveryZone_district_area_key" ON "DeliveryZone"("district", "area");

-- CreateIndex
CREATE UNIQUE INDEX "Driver_phone_key" ON "Driver"("phone");

-- CreateIndex
CREATE UNIQUE INDEX "Driver_email_key" ON "Driver"("email");

-- CreateIndex
CREATE UNIQUE INDEX "TicketReadStatus_ticketId_userId_key" ON "TicketReadStatus"("ticketId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "Promotion_branch_code_type_key" ON "Promotion"("branch_code", "type");

-- CreateIndex
CREATE INDEX "AdminMessage_type_createdAt_idx" ON "AdminMessage"("type", "createdAt");

-- CreateIndex
CREATE INDEX "AdminMessage_dedupeKey_lifecycle_state_last_seen_at_idx" ON "AdminMessage"("dedupeKey", "lifecycle_state", "last_seen_at");

-- CreateIndex
CREATE INDEX "AdminMessage_branch_code_type_last_seen_at_idx" ON "AdminMessage"("branch_code", "type", "last_seen_at");

-- CreateIndex
CREATE UNIQUE INDEX "PendingUser_email_key" ON "PendingUser"("email");

-- CreateIndex
CREATE UNIQUE INDEX "PasswordReset_email_key" ON "PasswordReset"("email");

-- CreateIndex
CREATE INDEX "PosWriteCommand_status_createdAt_idx" ON "PosWriteCommand"("status", "createdAt");

-- CreateIndex
CREATE INDEX "PosWriteCommand_agentId_status_idx" ON "PosWriteCommand"("agentId", "status");

-- CreateIndex
CREATE INDEX "PosWriteCommand_status_nextRetryAt_idx" ON "PosWriteCommand"("status", "nextRetryAt");

-- CreateIndex
CREATE INDEX "PosSyncEvent_createdAt_idx" ON "PosSyncEvent"("createdAt");

-- CreateIndex
CREATE INDEX "PosSyncEvent_status_createdAt_idx" ON "PosSyncEvent"("status", "createdAt");

-- CreateIndex
CREATE INDEX "PosSyncEvent_level_createdAt_idx" ON "PosSyncEvent"("level", "createdAt");

-- CreateIndex
CREATE INDEX "PosSyncEvent_source_createdAt_idx" ON "PosSyncEvent"("source", "createdAt");

-- CreateIndex
CREATE INDEX "PosSyncEvent_eventType_createdAt_idx" ON "PosSyncEvent"("eventType", "createdAt");

-- CreateIndex
CREATE INDEX "ProductExpiryBatch_productCode_idx" ON "ProductExpiryBatch"("productCode");

-- CreateIndex
CREATE INDEX "ProductExpiryBatch_expiryDate_idx" ON "ProductExpiryBatch"("expiryDate");

-- CreateIndex
CREATE UNIQUE INDEX "ProductExpiryBatch_productCode_expiryDate_locationCode_batc_key" ON "ProductExpiryBatch"("productCode", "expiryDate", "locationCode", "batchNo");

-- CreateIndex
CREATE UNIQUE INDEX "emergency_sales_sale_ref_key" ON "emergency_sales"("sale_ref");

-- CreateIndex
CREATE INDEX "emergency_sales_sync_status_created_at_idx" ON "emergency_sales"("sync_status", "created_at");

-- CreateIndex
CREATE INDEX "emergency_sales_retry_count_sync_status_idx" ON "emergency_sales"("retry_count", "sync_status");

-- CreateIndex
CREATE INDEX "emergency_sale_items_emergency_sale_id_idx" ON "emergency_sale_items"("emergency_sale_id");

-- CreateIndex
CREATE INDEX "emergency_sale_items_product_id_idx" ON "emergency_sale_items"("product_id");

-- CreateIndex
CREATE UNIQUE INDEX "quotations_quotation_ref_key" ON "quotations"("quotation_ref");

-- CreateIndex
CREATE INDEX "quotations_client_name_idx" ON "quotations"("client_name");

-- CreateIndex
CREATE INDEX "quotations_created_at_idx" ON "quotations"("created_at");

-- CreateIndex
CREATE INDEX "quotations_branch_code_location_code_created_at_idx" ON "quotations"("branch_code", "location_code", "created_at");

-- CreateIndex
CREATE INDEX "quotation_items_quotation_id_idx" ON "quotation_items"("quotation_id");

-- CreateIndex
CREATE UNIQUE INDEX "sales_sync_sources_sync_source_code_key" ON "sales_sync_sources"("sync_source_code");

-- CreateIndex
CREATE INDEX "pos_latest_product_costs_sync_source_code_idx" ON "pos_latest_product_costs"("sync_source_code");

-- CreateIndex
CREATE INDEX "pos_latest_product_costs_product_code_idx" ON "pos_latest_product_costs"("product_code");

-- CreateIndex
CREATE INDEX "pos_latest_product_costs_branch_code_product_code_idx" ON "pos_latest_product_costs"("branch_code", "product_code");

-- CreateIndex
CREATE INDEX "pos_latest_product_costs_location_code_product_code_idx" ON "pos_latest_product_costs"("location_code", "product_code");

-- CreateIndex
CREATE UNIQUE INDEX "pos_latest_product_costs_sync_source_code_product_code_key" ON "pos_latest_product_costs"("sync_source_code", "product_code");

-- CreateIndex
CREATE INDEX "sales_invoices_sync_source_code_idx" ON "sales_invoices"("sync_source_code");

-- CreateIndex
CREATE INDEX "sales_invoices_source_invoice_no_idx" ON "sales_invoices"("source_invoice_no");

-- CreateIndex
CREATE INDEX "sales_invoices_invoice_date_idx" ON "sales_invoices"("invoice_date");

-- CreateIndex
CREATE INDEX "sales_invoices_user_name_idx" ON "sales_invoices"("user_name");

-- CreateIndex
CREATE INDEX "sales_invoices_location_code_idx" ON "sales_invoices"("location_code");

-- CreateIndex
CREATE INDEX "sales_invoices_branch_code_idx" ON "sales_invoices"("branch_code");

-- CreateIndex
CREATE INDEX "sales_invoices_branch_code_invoice_date_idx" ON "sales_invoices"("branch_code", "invoice_date");

-- CreateIndex
CREATE INDEX "sales_invoices_sync_source_code_invoice_date_idx" ON "sales_invoices"("sync_source_code", "invoice_date");

-- CreateIndex
CREATE INDEX "sales_invoices_pay_method_1_idx" ON "sales_invoices"("pay_method_1");

-- CreateIndex
CREATE INDEX "sales_invoices_pay_method_2_idx" ON "sales_invoices"("pay_method_2");

-- CreateIndex
CREATE INDEX "sales_invoices_invoice_type_idx" ON "sales_invoices"("invoice_type");

-- CreateIndex
CREATE UNIQUE INDEX "sales_invoices_sync_source_code_source_invoice_no_location__key" ON "sales_invoices"("sync_source_code", "source_invoice_no", "location_code");

-- CreateIndex
CREATE INDEX "sales_invoice_items_sync_source_code_idx" ON "sales_invoice_items"("sync_source_code");

-- CreateIndex
CREATE INDEX "sales_invoice_items_source_inv_detail_id_idx" ON "sales_invoice_items"("source_inv_detail_id");

-- CreateIndex
CREATE INDEX "sales_invoice_items_product_code_idx" ON "sales_invoice_items"("product_code");

-- CreateIndex
CREATE INDEX "sales_invoice_items_product_code_product_name_idx" ON "sales_invoice_items"("product_code", "product_name");

-- CreateIndex
CREATE INDEX "sales_invoice_items_location_code_idx" ON "sales_invoice_items"("location_code");

-- CreateIndex
CREATE INDEX "sales_invoice_items_sales_invoice_id_idx" ON "sales_invoice_items"("sales_invoice_id");

-- CreateIndex
CREATE UNIQUE INDEX "sales_invoice_items_sync_source_code_source_inv_detail_id_key" ON "sales_invoice_items"("sync_source_code", "source_inv_detail_id");

-- CreateIndex
CREATE INDEX "pos_stock_intakes_sync_source_code_idx" ON "pos_stock_intakes"("sync_source_code");

-- CreateIndex
CREATE INDEX "pos_stock_intakes_grn_no_idx" ON "pos_stock_intakes"("grn_no");

-- CreateIndex
CREATE INDEX "pos_stock_intakes_branch_code_idx" ON "pos_stock_intakes"("branch_code");

-- CreateIndex
CREATE INDEX "pos_stock_intakes_grn_date_idx" ON "pos_stock_intakes"("grn_date");

-- CreateIndex
CREATE UNIQUE INDEX "pos_stock_intakes_sync_source_code_grn_no_key" ON "pos_stock_intakes"("sync_source_code", "grn_no");

-- CreateIndex
CREATE INDEX "pos_stock_intake_items_sync_source_code_idx" ON "pos_stock_intake_items"("sync_source_code");

-- CreateIndex
CREATE INDEX "pos_stock_intake_items_product_code_idx" ON "pos_stock_intake_items"("product_code");

-- CreateIndex
CREATE INDEX "pos_stock_intake_items_pos_stock_intake_id_idx" ON "pos_stock_intake_items"("pos_stock_intake_id");

-- CreateIndex
CREATE UNIQUE INDEX "pos_stock_intake_items_pos_stock_intake_id_stock_detail_id_key" ON "pos_stock_intake_items"("pos_stock_intake_id", "stock_detail_id");

-- CreateIndex
CREATE UNIQUE INDEX "suppliers_supplier_code_key" ON "suppliers"("supplier_code");

-- CreateIndex
CREATE INDEX "suppliers_name_idx" ON "suppliers"("name");

-- CreateIndex
CREATE INDEX "suppliers_location_id_idx" ON "suppliers"("location_id");

-- CreateIndex
CREATE INDEX "suppliers_status_idx" ON "suppliers"("status");

-- CreateIndex
CREATE INDEX "supplier_pos_links_branch_code_idx" ON "supplier_pos_links"("branch_code");

-- CreateIndex
CREATE INDEX "supplier_pos_links_sync_status_idx" ON "supplier_pos_links"("sync_status");

-- CreateIndex
CREATE UNIQUE INDEX "supplier_pos_links_supplier_id_branch_code_key" ON "supplier_pos_links"("supplier_id", "branch_code");

-- CreateIndex
CREATE UNIQUE INDEX "supplier_pos_links_branch_code_pos_supplier_code_key" ON "supplier_pos_links"("branch_code", "pos_supplier_code");

-- CreateIndex
CREATE INDEX "supplier_transactions_supplier_id_transaction_date_idx" ON "supplier_transactions"("supplier_id", "transaction_date");

-- CreateIndex
CREATE INDEX "supplier_transactions_location_id_idx" ON "supplier_transactions"("location_id");

-- CreateIndex
CREATE INDEX "supplier_transactions_reporting_period_id_idx" ON "supplier_transactions"("reporting_period_id");

-- CreateIndex
CREATE INDEX "supplier_transactions_transaction_type_idx" ON "supplier_transactions"("transaction_type");

-- CreateIndex
CREATE INDEX "supplier_balances_reporting_period_id_idx" ON "supplier_balances"("reporting_period_id");

-- CreateIndex
CREATE UNIQUE INDEX "supplier_balances_supplier_id_reporting_period_id_key" ON "supplier_balances"("supplier_id", "reporting_period_id");

-- CreateIndex
CREATE UNIQUE INDEX "expense_categories_code_key" ON "expense_categories"("code");

-- CreateIndex
CREATE INDEX "expense_categories_name_idx" ON "expense_categories"("name");

-- CreateIndex
CREATE INDEX "expense_categories_is_active_idx" ON "expense_categories"("is_active");

-- CreateIndex
CREATE INDEX "expenses_expense_date_idx" ON "expenses"("expense_date");

-- CreateIndex
CREATE INDEX "expenses_expense_category_id_idx" ON "expenses"("expense_category_id");

-- CreateIndex
CREATE INDEX "expenses_location_id_idx" ON "expenses"("location_id");

-- CreateIndex
CREATE INDEX "expenses_reporting_period_id_idx" ON "expenses"("reporting_period_id");

-- CreateIndex
CREATE UNIQUE INDEX "employees_employee_no_key" ON "employees"("employee_no");

-- CreateIndex
CREATE INDEX "employees_surname_first_name_idx" ON "employees"("surname", "first_name");

-- CreateIndex
CREATE INDEX "employees_status_idx" ON "employees"("status");

-- CreateIndex
CREATE INDEX "employees_department_idx" ON "employees"("department");

-- CreateIndex
CREATE INDEX "employees_location_id_idx" ON "employees"("location_id");

-- CreateIndex
CREATE INDEX "employee_salary_structures_employee_id_is_current_idx" ON "employee_salary_structures"("employee_id", "is_current");

-- CreateIndex
CREATE INDEX "employee_salary_structures_effective_from_effective_to_idx" ON "employee_salary_structures"("effective_from", "effective_to");

-- CreateIndex
CREATE INDEX "payroll_periods_status_idx" ON "payroll_periods"("status");

-- CreateIndex
CREATE INDEX "payroll_periods_payroll_mode_idx" ON "payroll_periods"("payroll_mode");

-- CreateIndex
CREATE INDEX "payroll_periods_reporting_period_id_idx" ON "payroll_periods"("reporting_period_id");

-- CreateIndex
CREATE INDEX "payroll_periods_location_id_idx" ON "payroll_periods"("location_id");

-- CreateIndex
CREATE INDEX "payroll_periods_payroll_year_payroll_month_idx" ON "payroll_periods"("payroll_year", "payroll_month");

-- CreateIndex
CREATE INDEX "payroll_entries_employee_id_idx" ON "payroll_entries"("employee_id");

-- CreateIndex
CREATE INDEX "payroll_entries_payroll_period_id_idx" ON "payroll_entries"("payroll_period_id");

-- CreateIndex
CREATE UNIQUE INDEX "payroll_entries_payroll_period_id_employee_id_key" ON "payroll_entries"("payroll_period_id", "employee_id");

-- CreateIndex
CREATE UNIQUE INDEX "employee_loans_loan_reference_key" ON "employee_loans"("loan_reference");

-- CreateIndex
CREATE INDEX "employee_loans_employee_id_idx" ON "employee_loans"("employee_id");

-- CreateIndex
CREATE INDEX "employee_loans_status_idx" ON "employee_loans"("status");

-- CreateIndex
CREATE INDEX "employee_loan_transactions_employee_loan_id_idx" ON "employee_loan_transactions"("employee_loan_id");

-- CreateIndex
CREATE INDEX "employee_loan_transactions_payroll_period_id_idx" ON "employee_loan_transactions"("payroll_period_id");

-- CreateIndex
CREATE INDEX "employee_loan_transactions_transaction_type_idx" ON "employee_loan_transactions"("transaction_type");

-- CreateIndex
CREATE INDEX "employee_terminations_employee_id_idx" ON "employee_terminations"("employee_id");

-- CreateIndex
CREATE INDEX "employee_terminations_termination_date_idx" ON "employee_terminations"("termination_date");

-- CreateIndex
CREATE INDEX "employee_reengagements_employee_id_idx" ON "employee_reengagements"("employee_id");

-- CreateIndex
CREATE INDEX "employee_reengagements_effective_date_idx" ON "employee_reengagements"("effective_date");

-- CreateIndex
CREATE INDEX "employee_reengagements_linked_termination_id_idx" ON "employee_reengagements"("linked_termination_id");

-- CreateIndex
CREATE INDEX "payroll_tax_brackets_location_id_effective_from_idx" ON "payroll_tax_brackets"("location_id", "effective_from");

-- CreateIndex
CREATE INDEX "payroll_tax_brackets_is_active_effective_from_idx" ON "payroll_tax_brackets"("is_active", "effective_from");

-- CreateIndex
CREATE INDEX "payroll_increment_policies_location_id_effective_from_idx" ON "payroll_increment_policies"("location_id", "effective_from");

-- CreateIndex
CREATE INDEX "payroll_increment_policies_is_active_min_service_months_idx" ON "payroll_increment_policies"("is_active", "min_service_months");

-- CreateIndex
CREATE UNIQUE INDEX "goods_intakes_intake_ref_key" ON "goods_intakes"("intake_ref");

-- CreateIndex
CREATE INDEX "goods_intakes_status_purchase_date_idx" ON "goods_intakes"("status", "purchase_date");

-- CreateIndex
CREATE INDEX "goods_intakes_supplier_id_purchase_date_idx" ON "goods_intakes"("supplier_id", "purchase_date");

-- CreateIndex
CREATE INDEX "goods_intakes_location_id_purchase_date_idx" ON "goods_intakes"("location_id", "purchase_date");

-- CreateIndex
CREATE INDEX "goods_intakes_branch_code_location_code_purchase_date_idx" ON "goods_intakes"("branch_code", "location_code", "purchase_date");

-- CreateIndex
CREATE INDEX "goods_intakes_branch_code_location_code_status_purchase_dat_idx" ON "goods_intakes"("branch_code", "location_code", "status", "purchase_date");

-- CreateIndex
CREATE INDEX "goods_intakes_purchase_date_idx" ON "goods_intakes"("purchase_date");

-- CreateIndex
CREATE INDEX "goods_intake_items_goods_intake_id_line_no_idx" ON "goods_intake_items"("goods_intake_id", "line_no");

-- CreateIndex
CREATE INDEX "goods_intake_items_barcode_idx" ON "goods_intake_items"("barcode");

-- CreateIndex
CREATE INDEX "goods_intake_items_product_id_idx" ON "goods_intake_items"("product_id");

-- CreateIndex
CREATE INDEX "goods_intake_items_expiry_date_idx" ON "goods_intake_items"("expiry_date");

-- CreateIndex
CREATE UNIQUE INDEX "purchase_orders_purchase_order_ref_key" ON "purchase_orders"("purchase_order_ref");

-- CreateIndex
CREATE INDEX "purchase_orders_status_purchase_date_idx" ON "purchase_orders"("status", "purchase_date");

-- CreateIndex
CREATE INDEX "purchase_orders_branch_code_location_code_purchase_date_idx" ON "purchase_orders"("branch_code", "location_code", "purchase_date");

-- CreateIndex
CREATE INDEX "purchase_order_items_purchase_order_id_line_no_idx" ON "purchase_order_items"("purchase_order_id", "line_no");

-- CreateIndex
CREATE INDEX "purchase_order_items_barcode_idx" ON "purchase_order_items"("barcode");

-- CreateIndex
CREATE INDEX "purchase_order_items_product_id_idx" ON "purchase_order_items"("product_id");

-- CreateIndex
CREATE INDEX "sales_balancing_records_location_id_balancing_date_idx" ON "sales_balancing_records"("location_id", "balancing_date");

-- CreateIndex
CREATE INDEX "sales_balancing_records_status_balancing_date_idx" ON "sales_balancing_records"("status", "balancing_date");

-- CreateIndex
CREATE INDEX "sales_balancing_records_location_code_balancing_date_idx" ON "sales_balancing_records"("location_code", "balancing_date");

-- AddForeignKey
ALTER TABLE "refresh_tokens" ADD CONSTRAINT "refresh_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "security_audit_logs" ADD CONSTRAINT "security_audit_logs_actor_user_id_fkey" FOREIGN KEY ("actor_user_id") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_permissions" ADD CONSTRAINT "user_permissions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "permission_audit_logs" ADD CONSTRAINT "permission_audit_logs_actor_user_id_fkey" FOREIGN KEY ("actor_user_id") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "permission_audit_logs" ADD CONSTRAINT "permission_audit_logs_target_user_id_fkey" FOREIGN KEY ("target_user_id") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cart" ADD CONSTRAINT "Cart_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CartItem" ADD CONSTRAINT "CartItem_cartId_fkey" FOREIGN KEY ("cartId") REFERENCES "Cart"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CartItem" ADD CONSTRAINT "CartItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Order" ADD CONSTRAINT "Order_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Order" ADD CONSTRAINT "Order_driverId_fkey" FOREIGN KEY ("driverId") REFERENCES "Driver"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Order" ADD CONSTRAINT "Order_salesDayId_fkey" FOREIGN KEY ("salesDayId") REFERENCES "SalesDay"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderItem" ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderItem" ADD CONSTRAINT "OrderItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupportTicket" ADD CONSTRAINT "SupportTicket_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TicketReply" ADD CONSTRAINT "TicketReply_ticketId_fkey" FOREIGN KEY ("ticketId") REFERENCES "SupportTicket"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TicketAttachment" ADD CONSTRAINT "TicketAttachment_replyId_fkey" FOREIGN KEY ("replyId") REFERENCES "TicketReply"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "emergency_sale_items" ADD CONSTRAINT "emergency_sale_items_emergency_sale_id_fkey" FOREIGN KEY ("emergency_sale_id") REFERENCES "emergency_sales"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "emergency_sale_items" ADD CONSTRAINT "emergency_sale_items_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "Product"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "quotation_items" ADD CONSTRAINT "quotation_items_quotation_id_fkey" FOREIGN KEY ("quotation_id") REFERENCES "quotations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pos_latest_product_costs" ADD CONSTRAINT "pos_latest_product_costs_sync_source_id_fkey" FOREIGN KEY ("sync_source_id") REFERENCES "sales_sync_sources"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_invoices" ADD CONSTRAINT "sales_invoices_sync_source_id_fkey" FOREIGN KEY ("sync_source_id") REFERENCES "sales_sync_sources"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_invoice_items" ADD CONSTRAINT "sales_invoice_items_sales_invoice_id_fkey" FOREIGN KEY ("sales_invoice_id") REFERENCES "sales_invoices"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pos_stock_intakes" ADD CONSTRAINT "pos_stock_intakes_sync_source_id_fkey" FOREIGN KEY ("sync_source_id") REFERENCES "sales_sync_sources"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pos_stock_intake_items" ADD CONSTRAINT "pos_stock_intake_items_pos_stock_intake_id_fkey" FOREIGN KEY ("pos_stock_intake_id") REFERENCES "pos_stock_intakes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "supplier_pos_links" ADD CONSTRAINT "supplier_pos_links_supplier_id_fkey" FOREIGN KEY ("supplier_id") REFERENCES "suppliers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "supplier_transactions" ADD CONSTRAINT "supplier_transactions_supplier_id_fkey" FOREIGN KEY ("supplier_id") REFERENCES "suppliers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "supplier_balances" ADD CONSTRAINT "supplier_balances_supplier_id_fkey" FOREIGN KEY ("supplier_id") REFERENCES "suppliers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "expenses" ADD CONSTRAINT "expenses_expense_category_id_fkey" FOREIGN KEY ("expense_category_id") REFERENCES "expense_categories"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "employee_salary_structures" ADD CONSTRAINT "employee_salary_structures_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "employees"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payroll_entries" ADD CONSTRAINT "payroll_entries_payroll_period_id_fkey" FOREIGN KEY ("payroll_period_id") REFERENCES "payroll_periods"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payroll_entries" ADD CONSTRAINT "payroll_entries_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "employees"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "employee_loans" ADD CONSTRAINT "employee_loans_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "employees"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "employee_loan_transactions" ADD CONSTRAINT "employee_loan_transactions_employee_loan_id_fkey" FOREIGN KEY ("employee_loan_id") REFERENCES "employee_loans"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "employee_loan_transactions" ADD CONSTRAINT "employee_loan_transactions_payroll_period_id_fkey" FOREIGN KEY ("payroll_period_id") REFERENCES "payroll_periods"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "employee_terminations" ADD CONSTRAINT "employee_terminations_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "employees"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "employee_reengagements" ADD CONSTRAINT "employee_reengagements_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "employees"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "employee_reengagements" ADD CONSTRAINT "employee_reengagements_linked_termination_id_fkey" FOREIGN KEY ("linked_termination_id") REFERENCES "employee_terminations"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "goods_intakes" ADD CONSTRAINT "goods_intakes_supplier_id_fkey" FOREIGN KEY ("supplier_id") REFERENCES "suppliers"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "goods_intake_items" ADD CONSTRAINT "goods_intake_items_goods_intake_id_fkey" FOREIGN KEY ("goods_intake_id") REFERENCES "goods_intakes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "goods_intake_items" ADD CONSTRAINT "goods_intake_items_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "Product"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "purchase_orders" ADD CONSTRAINT "purchase_orders_supplier_id_fkey" FOREIGN KEY ("supplier_id") REFERENCES "suppliers"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "purchase_order_items" ADD CONSTRAINT "purchase_order_items_purchase_order_id_fkey" FOREIGN KEY ("purchase_order_id") REFERENCES "purchase_orders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "purchase_order_items" ADD CONSTRAINT "purchase_order_items_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "Product"("id") ON DELETE SET NULL ON UPDATE CASCADE;

